@import "tailwindcss";

:root {
  --background: #f0f0f0; /* Light background color */
  --foreground: #333333; /* Darker foreground text color */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Dark background color */
    --foreground: #e0e0e0; /* Light text color for dark mode */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
